<div class="code-card">
  <h3>{{ snippet.title }}</h3>
  <p>{{ snippet.description }}</p>
  {% capture code_content %}
    {% include code_snippets/{{ snippet.file }} %}
  {% endcapture %}
  <pre><code>{{ code_content }}</code></pre>
  <a href="{{ site.baseurl }}/assets/code/{{ snippet.file }}" download>Download Code</a>
</div>
