<div class="code-card">
  <h3>{{ snippet.title }}</h3>
  <p>{{ snippet.description }}</p>
  <pre><code>{% include_relative {{ snippet.file }} %}</code></pre>
  <a href="{{ site.baseurl }}/{{ snippet.file }}" download>Download Code</a>
</div>
